.signin-page {
    position: relative;
    width: 99%;
    margin: 0 10px;
    margin-top: 15px;

    .left {
        height: 75vh;
        background: #f5f5f5;
    }

    .right {
        height: 75vh;
        background: #f5f5f5;
        
        .signin-card {
            margin-top: 5px;
            width: auto;
            height: 570px;
            background: white;
            border: 2px solid #e0e0e0;
            margin-bottom: 30px;
            margin-right: 100px;
            padding-left: 5px;
            padding-right: 5px;

            h3 {
                padding-left: 15px;
            }

            .warning-signin {
                width: auto;
                height: 85px;
                background: #ffccbc;
                border-left: 5px solid #ff5722;
                margin-top: 5px;

                .header-warning {
                    display: flex;

                    .icon-warning {
                        margin-left: 10px;
                        margin-top: 10px;
                    }

                    p {
                        margin-left: 10px;
                        margin-top: 13px;
                        font-weight: 600;
                        font-size: 17px;
                        margin-bottom: 15px;
                    }
                }

                p {
                    margin-top: 0;
                    margin-left: 18px;
                }
            }

            .signin-form {
                width: 100%;
                display: flex;
                justify-content: center;
                
                .form {
                    margin-top: 20px;
                    width: 500px;
                    height: 280px;
                    border: 1px solid black;
                    
                    h2 {
                        margin-left: 20px;
                    }

                    button {
                        cursor: pointer;
                        border-radius: 5px;
                        border: none;
                        background-color: var(--btn-blue);
                        color: #ffffff;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 12px 150px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        transition: transform 50ms ease-in;
                        margin-top: 15px;
                        margin-left: 12%;
                    }
            
                    button:active {
                        transform: scale(0.95);
                    }
            
                    button:focus {
                        outline: none;
                    }
            
                    button:hover {
                        background-color: var(--btn-blue-hover);
                    }

                    .signin__form-input {
                        width: 450px;
                        margin-left: 10px;
                        margin-right: 10px;
                        padding: 8px 12px;
                        margin-top: 10px;
                        margin-bottom: 2px;
                    }

                    .message_error {
                        color: red;
                        font-size: 14px;
                        margin-left: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

       
    }
}